replicaCount: 1
image:
  repository: "zahidbilal/flask-gitops"
  tag: "dev-latest"
environment: "development"
service:
  type: NodePort
  port: 80
  nodePort: 30008
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
ingress:
  enabled: false
