replicaCount: 2
image:
  repository: "zahidbilal/flask-gitops"
  tag: "staging-latest"
environment: "staging"
service:
  type: NodePort
  port: 80
  nodePort: 30009
resources:
  limits:
    cpu: 300m
    memory: 512Mi
  requests:
    cpu: 150m
    memory: 256Mi
ingress:
  enabled: false
